---
---

@import "{{ site.theme }}";
.page-header{
    background-image:linear-gradient(to right, #625793 0%, #d55d64 35%, #e49129 65%, #c0671c 100%); 
};
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color:#625793
}
.project-name a,a:hover,a:visited{
    color: inherit;
}
